<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Checkout Cart</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="css/checkout.css" rel="stylesheet">


</head>

<body>


    <div class="container">

        <!--progress bar-->
        <div class="form-progress">
            <progress class="form-progress-bar" min="0" max="90" value="0" step="45"
                aria-labelledby="form-progress-completion"></progress>

            <div class="form-progress-indicator one active"></div>
            <div class="form-progress-indicator two"></div>
            <div class="form-progress-indicator three"></div>
        </div>


        <!--cart items details-->
        <div class="small-container cart-page">
            <div class="button"><a href="Profile" class="submit"><i class="fa-solid fa-chart-simple"></i> </i> Return to Dashboard</a></div>
            <table style=" border-top: 3px solid #1795ce;">
                <tr>
                    <td class="checkout-td-head-l">Item</th>
                    <td class="checkout-td-head-r">Quantity</th>
                      <td class="checkout-td-head-r">Date</th>
                    <td class="checkout-td-head-r">Price</th>
                    <td class="checkout-td-head-r">Insurance</th>
                    <td class="checkout-td-head-r" >Balance</th>
                    
                </tr>

                <tbody>
                  <% var total =0;
                  patient.forEach(function(patient){ %>
                    <tr>
                        <td>
                          <div class="cart-info">
                            
                            <!--image of item added to cart--->
                            <div>
                                
                                <p> <i class="fa-solid fa-prescription-bottle"></i><%= patient.Name %></p>
                                
                            </div>
                        </div>
                          </td>
                        <td class="checkout-td-r"><%= patient.quantity %></td>
                        <td class="checkout-td-r"><%= patient.service_date %></td>
                        <td class="checkout-td-r">$<%= patient.total_price %></td>
                        <td class="checkout-td-r">$<%= patient.covered_amount%></td>
                        <td class="checkout-td-r">$<%= patient.customer_price%></td>
                        
                    </tr>
                <% total =total + patient.customer_price; }); %>
              </tbody>
                
               
                
            </table>

            <div class="total-price">

                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>$<%= total%></td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$<%= total%></td>
                    </tr>
                </table>

            </div>
            <div class="button">
              <form method="post" action="/Payment">
                <input type="hidden" name="total" value="<%=total %>">
                <input type="submit" value="Proceed to payment" class="btn">
                

              </form>              
                

            </div>
            
        </div>

</html>